@model IEnumerable<OrderTicket>


<p>
    <a id="NewOrder">New Order</a>
</p>

<script>
    $("#NewOrder").click(function (event) {

        $('#OrderPart').html("");
        $('#OrderPart').load('@Url.Action("Manage")', { LocationId: $("#LoID").val(), OrderDate: $("#OrderDate").val(), UID: $("#UID").val() } );

    });
</script>

<table class="table section-to-print" width="100%">
    <tr>
        <th>Order No.</th>
        <th>Order Time</th>
        <th>Table</th>
        <th>Room</th>
        
        <th class="section-to-Not-print"></th>
    </tr>

     

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.OTID</td>
            <td>
                @String.Format("{0:HH:mm}", item.TDateTime)
            </td>
            
            <td>@item.TableId</td>
            <td>
                @item.RoomNo
            </td>
            
            <td class="section-to-Not-print form-inline">
                <a id="EditOrder" data-val="@item.OTID">Edit</a> |
                @if (!(item.IsVoid??false))
                {
                    <a class="OrderDets" data-val="@item.OTID">Details</a> @:
                    <a class="OrderRecpts" data-val="@item.OTID">Receipts</a>
                }
            </td>
        </tr>
    }

</table>

<script>
    $("#EditOrder").click(function (event) {

        $('#OrderPart').html("");
        $('#OrderPart').load('@Url.Action("Manage")', { id: $(this).data('val'), LocationId: $("#LoID").val(), OrderDate: $("#OrderDate").val(), UID: $("#UID").val() } );

    });

    $(".OrderDets").click(function (event) {

        $('#OrderPart').html("");
        $('#OrderPart').load('@Url.Action("Details")', { id: $(this).data('val')} );

    });

    $(".OrderRecpts").click(function (event) {

        $('#OrderPart').html("");
        $('#OrderPart').load('@Url.Action("Receipt")', { id: $(this).data('val')} );

    });
</script>