@model Reciept

@{
    ViewBag.Title = $"Receipts of order {ViewBag.Order.OTID}";
}

<h2>@ViewBag.Title</h2>

<Div class="MastDet">
    <table class="table" width="70%">
        <tr>
            <td>Ordered at</td>
            <td>@String.Format("{0:dd-MMM-yyyy HH: mm}", ViewBag.Order.TDateTime)</td>
        </tr>
        <tr>
            <td>Table</td>
            <td>@ViewBag.Order.TableId</td>
        </tr>
    </table>
</Div>


@using (Html.BeginForm("ReceiptSave", "Restaurant", FormMethod.Post, new { id="OrderDetsFm"}))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.Hidden("ChargeId", (int)ViewBag.Order.OTID)

    @if (Model?.RecieptID > 0)
    {
        @Html.HiddenFor(model => model.RecieptID)
    }

    <div class="form-group">
        @Html.LabelFor(model => model.Rdate, "Pay Date", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Rdate, new { htmlAttributes = new { @class = "form-control", type = "datetime" } })

            @Html.ValidationMessageFor(model => model.Rdate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Amount, "Amount", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PayMode, "Payment Mode", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.PayMode, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PayMode, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div id="Cashcarddiv"  class="form-group">        
        @Html.LabelFor(model => model.PayDetails, "Cash Card Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.PayDetails, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PayDetails, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div id="Paydetsdiv" class="form-group">
        @Html.LabelFor(model => model.PayDetails, "Pay Details/ Cash Card", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PayDetails, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PayDetails, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @if (ViewBag.Order.IsPaid ?? false)
            {
                @:This order is paid for. Please make a new order if more items are purchased
            }
            else
            {
                <input type="submit" value="Save" class="btn btn-default" />
            }
        </div>
    </div>
</div>
}

<p>
    <a id="OrderList">Back to list</a>        
</p>

    <script>
    $("#OrderList").click(function (event) {

        $('#OrderPart').html("");
        $('#OrderPart').load('@Url.Action("OrderPart")', { LocationId: $("#LoID").val(), OrderDate: $("#OrderDate").val(), UID: $("#UID").val() } );

    });
        
        $(document).ready(function () {
            $("#OrderDetsFm").on("submit", function (e) {
                // prevent default submission
                e.preventDefault();

                // do AJAX post instead
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    method: form.attr("method"),
                    data: form.serialize(),
                    success: function (result) {
                        // replace content
                        $('#OrderPart').html("");
                        $('#OrderPart').load('@Url.Action("Receipt")', { id: @ViewBag.Order.OTID } );
                    }
                })
            });
        });

        $(function () {
            $('input[type=datetime]').datetimepicker({
                dateFormat: "yy-m-dd",
                timeFormat: "hh:mm tt",
                hourGrid: 4,
                minuteGrid: 10,
                stepMinute: 5
            });

            jQuery.validator.methods["date"] = function (value, element) { return true; }
        });

        //tried it out for cash card but failed
        //$(document).ready(function () {

        //    $("#Cashcarddiv").hide();
        //    $("#Paydetsdiv").show();

        //    $('#PayMode').change(function () {
        //        if (this.value == 4) {
        //            $("#Cashcarddiv").show();
        //            $("#Paydetsdiv").hide();
        //        } else {
        //            $("#Cashcarddiv").hide();
        //            $("#Paydetsdiv").show();
        //        }
                
        //    });
        //});
    </script>


<hr />
<h2>Receipts</h2>
<table class="table section-to-print" width="100%">
    <tr>
        <th>Receipt No.</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Pay Mode</th>
        <th>Pay Details</th>        
        <th class="section-to-Not-print"></th>
    </tr>

    @{
        var odv = (IEnumerable<Reciept>)ViewBag.RecptDetails;
    }


    @foreach (var item in odv)
    {
        <tr>

            <td>
                @item.RecieptID
            </td>
            <td>
                @item.Rdate
            </td>
            <td>@item.Amount</td>
            <td>@((PayTypeEnum)item.PayMode)</td>            
            <td>@item.PayDetails</td>
            <td class="section-to-Not-print">
                <a class="EditOrder" data-val="@item.RecieptID">Edit</a>
                <a target="_blank" href="~/Restaurant/RecptPrint/@item.RecieptID">Print</a>
            </td>
        </tr>
    }

</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
  $(".EditOrder").click(function (event) {

            $('#OrderPart').html("");
            $('#OrderPart').load('@Url.Action("Receipt")', { DetId: $(this).data('val'), LocationId: $("#LoID").val(), OrderDate: $("#OrderDate").val(), UID: $("#UID").val() });

        });

    $(".PrintRecpt").click(function (event) {

            $('#OrderPart').html("");
            $('#OrderPart').load('@Url.Action("RecptPrint")', { id: $(this).data('val') });

  });
</script>