
@{
    ViewBag.Title = $"Bill no. {ViewBag.Order.OTID} on {(DateTime)ViewBag.Order.TDateTime: dd-MMM-yyyy} for Table(s): {ViewBag.Order.TableId}";
    Layout = "";
}
<style>
    table {
        border-collapse: collapse;
    }

    #grid table, #grid th, #grid td {
        border: 1px solid;
        text-align: right;
    }
</style>

@Html.Partial("_LetterHead")

<hr />
<h2>Receipt Number: @ViewBag.Receipt.RecieptID</h2>
<h2>@ViewBag.Title</h2>
<table class="table section-to-print" width="100%">
    <tr><td>Date</td><td>@ViewBag.Receipt.Rdate</td></tr>
    <tr><td>Amount</td><td>@ViewBag.Receipt.Amount</td></tr>
    <tr><td>Paid By</td><td>@((PayTypeEnum)ViewBag.Receipt.PayMode)</td></tr>
    <tr><td>Pay Details</td><td>@ViewBag.Receipt.PayDetails</td></tr>
</table>

@{
    var ctw = new ChangeNumbersToWords();
}
<hr />
