@model PagedList.IPagedList<CashierShiftChange>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Cashier Shift Changes";
}

<center>
    <h2 class="section-to-print"><b>@ViewBag.Title</b></h2>
    
    @using (Html.BeginForm("Index", "Cashier", FormMethod.Get))
    {        
        <div class="row section-to-Not-print">
            <div>
                <table>
                    <tr style="text-align:center">
                        <td>&nbsp;Date:</td>
                        <td> @Html.TextBox("dt",null ,new {@type="date", @class = "form-control" })</td>

                        <td class="col-lg-1"></td>
                        <td><input type="submit" value="Search" class="btn btn-default" /></td>
                    </tr>
                </table>
            </div>
        </div>
    }
</center>

<p>
    @Html.ActionLink("Create New", "Manage")
</p>
<table class="table">
    <tr>
        <th>
            Date 
        </th>
        <th>
           Cash in Hand
        </th>
       
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CashInHand)
        </td>

        <td>
            @Html.ActionLink("Edit", "Manage", new { id = item.CashierID})
        </td>
    </tr>
}

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
